/* Estilos del menu */

* {
    margin: 0;
    box-sizing: border-box;
}

#body {
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.header { /* Con esto hacemos referencia a la clase header*/
    background-color: #FF9900;
    height: 80px;
    position: fixed; /*Con este position fixed al hacer scroll el menu se mantiene arriba, caso contrario se quita*/
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-start;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px; /*Con esto centramos el logo en el header*/
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-menu-link:hover {
    background-color: #024070;
    transition: 0.5s;
}


/* Estilos principales */
.group--color {
    background: white;
    color: #024070;
    padding: 100px;
    text-align: center;
    margin-bottom: 35px; 
    padding-bottom: 1em;
}

.conteiner {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.conteiner h2 {
    margin: auto;
    font-size: 30px;
    line-height: 60px; 
    font-weight: bold;
    padding: auto;
}

.conteiner p {
    font-size: 18px;
    line-height: 30px; /*Este atributo nos sirve como interlineado en parrafos*/
}

.features {
    margin: auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
    color: #024070;
    margin-bottom: 35px;
}

.our-features {
    padding-bottom: 30px;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features {
    width: 100%;
    text-align: center;
}

.features img{
    width: 20%;
}

.features h3{
    margin: 20px 0;
}
.features p {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

.reviews {
    margin: auto;
    padding: var(--margenes) 0;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
    color: #024070;
    margin-bottom: 35px;
}

.our-reviews {
    padding-bottom: 30px;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews {
    width: 100%;
    text-align: center;
}

.reviews h3{
    margin: 20px 0;
}
.reviews p {
    font-weight: 300;
    text-align: justify;
    line-height: 30px;
    padding-right: 40px;
    padding-left: 40px;
}

.reviews a {
    padding: 25px 0;
    padding-right: 110px; /*Con esto alineamos el enlace en direccion del parrafo*/
    color: #8E44AD;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}


/* Estilos del footer */
footer{
    background: #414141;
    padding: 40px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 2.5px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #FF9900;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo a{
    color: white;
    line-height: 30px;
    text-decoration: none;
}

.content-foo a:hover{
    color: #FF9900;
    line-height: 30px;
    text-decoration: underline #FF9900;
}

#submitForm{
    font-size: 14px;
    margin: 0 10px;
    width:auto;
    line-height: 25px;
    background-color: #FF9900;
    color: #414141;
    position:absolute;
    left:895px;
    border-color: #FF9900;
    cursor: pointer;
    border-radius: 4px;
}

#email {
    margin: 0 10px;
    font-size: 15px;
    line-height: 30px;
    width: 90%;
}

.titulo-final{
    text-align: center;
    font-size: 15px;
    margin: 20px 0 0 0;
    color: white;
}